<!-- <mat-form-field>
  <div class="login-box" layout="row" layout-align="center center">
  <div style="display: flex;
  flex-wrap: wrap;
  justify-content: space-between;">
  <mat-card >
    1RV
  </mat-card>


  <mat-select [(ngModel)]="selectedValue" (change)="selected($event)" name="yearDropdown">
      <mat-option *ngFor="let year of years" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </div>
</div>
</mat-form-field> -->

<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->


<!-- <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <mat-card>1-</mat-card>
  <mat-card style="width:100px;"> <mat-select matInput  [(ngModel)]="selectedValue" (change)="selected($event)" name="yearDropdown">
      <mat-option *ngFor="let year of years" [value]="year">
        {{year}}
      </mat-option>
    </mat-select></mat-card>

</div> -->
<mat-card name="background"  class="mat-card-c"> <mat-card-header>
 
  <mat-card-title>Enter your USN</mat-card-title>
 
</mat-card-header> 
<mat-card-content>
  <mat-card>1RV</mat-card>
  
 

<mat-card>
<mat-select [(ngModel)]="selectedYear"  [value] = "selectedYear">
  <mat-option disabled [value] = '-1'>Select Year</mat-option>
  <mat-option *ngFor="let year of years" [value]="year">
    {{year}}
  </mat-option>
</mat-select>
</mat-card>
<mat-card>
    <mat-select [(ngModel)]="selectedBranch" [value] = "selectedBranch">
      <mat-option disabled [value] = '-1'>Select Branch</mat-option>
      <mat-option *ngFor="let branch of branches" [value]="branch">
        {{branch}}
      </mat-option>
    </mat-select>
    </mat-card>
    <mat-card>
   
         
       <input [(ngModel)]="usnNo" type="text" name="usnNo" maxlength="3" [value]="usnNo"><br>
         
        
        
    </mat-card>
  </mat-card-content>
<mat-card-actions>
  <button mat-raised-button color="primary" (click)="submit()">SUBMIT</button>
  
</mat-card-actions>
<div *ngIf="error" style="color: red">Fill the USN properly</div>
</mat-card>