<mat-card name="background" class="mat-card-c">
  <div class="">
    <mat-card-header>
      <mat-card-title>Enter your USN</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card class="animated fadeIn">1RV</mat-card>

      <mat-card>
        <mat-select
          class="animated fadeIn"
          [(ngModel)]="selectedYear"
          [value]="selectedYear"
        >
          <mat-option disabled [value]="-1">Select Year</mat-option>
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-card>
      <mat-card>
        <mat-select
          class="animated fadeIn"
          [(ngModel)]="selectedBranch"
          [value]="selectedBranch"
        >
          <mat-option disabled [value]="-1">Select Branch</mat-option>
          <mat-option *ngFor="let branch of branches" [value]="branch">
            {{ branch }}
          </mat-option>
        </mat-select>
      </mat-card>
      <mat-card>
        <input
          class="animated fadeIn"
          [(ngModel)]="usnNo"
          type="text"
          name="usnNo"
          maxlength="3"
          [value]="usnNo"
        /><br />
      </mat-card>
    </mat-card-content>
    <mat-card-actions style="display: inline-block">
      <button
        [ngClass]="{ 'animated shake': selectedIndex == 1 }"
        #submitButton
        mat-raised-button
        color="primary"
        style="float:left"
        [disabled]="loading"
        (click)="submit()"
      >
        SUBMIT
      </button>
      <div *ngIf="loading" style="float: left">
        <mat-progress-spinner
          diameter="25"
          mode="indeterminate"
        ></mat-progress-spinner>
      </div>
    </mat-card-actions>
    <div *ngIf="error" style="color: red;">
      An error occured. Please try again later.
    </div>
  </div>
</mat-card>
